<h2>Task 4</h2>
<img src={{imgPath}} alt="">

<p>Уи́льям Ге́нри Гейтс III (англ. William Henry Gates III; 28 октября 1955, Сиэтл[2], Вашингтон), более известный как
    Билл Гейтс (англ. Bill Gates)[3][4] — американский предприниматель и общественный деятель, филантроп, один из
    создателей (совместно с Полом Алленом) и бывший крупнейший акционер компании Microsoft. До июня 2008 года являлся
    руководителем компании; после ухода с поста остался в должности её неисполнительного председателя совета директоров.
    Также является сопредседателем благотворительного Фонда Билла и Мелинды Гейтс, членом совета директоров Berkshire
    Hathaway, генеральным директором Cascade Investment.

    В период с 1996 по 2007 год, с 2009 по 2016 год — самый богатый человек планеты по версии журнала Forbes.

    Билл Гейтс является одним из рекордсменов по размеру средств, переданных на благотворительность: в период с 1994 по
    2010 год он вложил в Фонд Билла и Мелинды Гейтс более 28 млрд долларов[5]. В 2010 году Гейтс подписал «Клятву
    дарения» и выступил с предложением ко всем миллиардерам о передаче половины своих состояний на благотворительную
    деятельность.</p>